name: Build flatpak
on:
  push:
    branches: 
      - "main"
    path: 
      # all python files
      - "**.py"
      - "desktopcreator/**"
      # all meson files
      - "**.build"
      # flatpak manifest
      - "build-aux/flatpak/*.json"
      # github action itself
      - ".github/workflows/flatpak.yml"
      # data
      - "data/**"

jobs:
  flatpak:
    name: "Flatpak"
    runs-on: ubuntu-latest
    container:
      image: bilelmoussaoui/flatpak-github-actions:gnome-nightly
      options: --privileged
    strategy:
      matrix:
        arch: [x86_64, aarch64]
        # arch: [x86_64]
      # Don't fail the whole workflow if one architecture fails
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install deps
        run: |
          dnf -y install docker
      - name: Set up QEMU
        id: qemu
        uses: docker/setup-qemu-action@v2
        with:
          platforms: arm64
      - uses: bilelmoussaoui/flatpak-github-actions/flatpak-builder@v4
        with:
          bundle: com.github.DesktopCreatorTeam.DesktopCreator.Devel.flatpak
          manifest-path: build-aux/flatpak/com.github.DesktopCreatorTeam.DesktopCreator.Devel.json
          cache-key: flatpak-builder-${{ github.sha }}
          arch: ${{ matrix.arch }}